<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>OrderedQueue</title>
    <%= Phoenix.LiveView.Helpers.live_title_tag assigns[:page_title] || "Live Dashboard" %>
  </head>
  <body class="bg-gray-100 text-gray-900">
    <main class="container mx-auto p-6">
      <%= @inner_content %>
    </main>
  </body>
</html>
